*, *::before, *::after {
    box-sizing: border-box;
  }

.container {
  margin: 10px;
  border-radius: 10px;
  background-size: cover;
}

  .one-movie {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 55vh;
    font-weight: bold;
  }

  .one-movie-info {
    font-size: 2.2vh;
    color: white;
    margin-left: 15px;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    /* text-shadow:#000; */
  }

  p {
    margin-top: 2px;
  }

  .one-movie-img {
    width: 25%;
    height:50vh;
    margin-left: 10px;
  }

  .exit-button {
    margin-left: 20px;
  }

  .genres {
    display: flex;
  }